.img{
    /* width: 100%; */
    height: 100px;
    width: 300px;
  }

.home{
    margin-left: 10px;
    height: 200px;
}
 .items{
    position: relative;
    top: -30px;
    color: white;
    margin-left: 130px;
}

